*{@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,300;1,300&display=swap');

    font-family: 'Lato', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, span {
    color: 242424px;
    text-align: center;
    line-height: 1.25;
 }
 h1 {
    font-size: 36px;
 }
 p {
    line-height: 1.5;
    font-size: 16px;
 }
 li {
    list-style-type: none; /*This removes the bullet points*/
 }

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: #6030b1;
}
 /* NAVIGATION BAR */

 nav {
    height: 100px;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.nav__link--list {
    display: flex;
 }
.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none; /*to remove underline*/
    font-weight: 700px;
}
.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}
.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}
.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/*ABOUT ME*/
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .16);
}

.about-me__picture {
    width: 100%;
/* Improving my own picture 
transform: scale(1.5) **Davids picture has no room at the top
padding-top: 8px      **so he made room */
}

.about-me__info--title {
    margin-bottom: 16px;
}

.about-me__info--para {
    font-size: 20px;
   /* line-height: 1.5; (this is not needed as it is defined above)*/
   margin-bottom: 28px;
}

.about-me__link {
    font-size: 20px;
    color:#6030b1;
    text-decoration: none;
    padding: 0 16px;
}
